<div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="16">
        <h1>BioHub is a universal synthetic biology experiment platform inspired by the way you work. 
        You can search the content you need, record whatever you want and communicate alongside many other iGEMers.</h1>
    </div>
</div>
<div nz-row nzType="flex" nzJustify="start">
    <div nz-col nzSpan="4"></div>
    <div nz-col nzSpan="16">
        <h3>Popular Reports</h3>
        <div nz-row [nzGutter]="{ xs: 0, sm: 0, md: 8, lg: 8, xl: 16, xxl: 16 }" nzType="flex" nzJustify="space-around" nzAlign="middle">
            <button nz-col nz-button nzSpan="1" class="gutter-row" nzShape="circle" nzSize="large">
                <i class="anticon anticon-left"></i>
            </button>
            <app-card nz-col nzSpan="7" class="gutter-row"></app-card>
            <app-card nz-col nzSpan="7" class="gutter-row"></app-card>
            <app-card nz-col nzSpan="7" class="gutter-row"></app-card>
            <button nz-col nz-button nzSpan="1" class="gutter-row" nzShape="circle" nzSize="large">
                <i class="anticon anticon-right"></i>
            </button>
        </div>
    </div>
    <div nz-col nzSpan="4"></div>
</div>