.userset0{
  padding: 1vw 2vw;
  margin-bottom:20px;
  margin-top: 20px;
  background: #fff;
}
p{
  font-family: AvenirNext-Bold;
  font-size: 20px;
  color: #4A4A4A;
  text-align: left;
  margin-top: 0.001vw;
  margin-bottom:0.1vw;
}
.cardtitle{
  width:720px;
  padding-top: 20px;
  font-family: AvenirNext-Bold;
  font-size: 24px;
  color: #4A4A4A;
  text-align:left;
  text-indent:20px;
  display:table-cell;
}
.savebutton{
  width:18%;
  display:table-cell;
}
.backbutton{
  width:16%;
  display:table-cell;
}

.myavatar{
  width:20%;
  height:20vw;
  display:-webkit-flex;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.fenge{
  width:10%;
}
.inputgroup{
  width:400px;
  display:-webkit-flex;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
