
<div nz-row>
  <!-- panda -->

    <!-- input form -->
  <div nz-col [nzXs]="{offset:2, span:20}" [nzSm]="{offset:5, span:14}" [nzMd]="{offset:6, span: 12}"
       [nzLg]="{offset:8, span:8}" [nzXl]="{offset:9, span:6}" [nzXl]="{offset:10, span:4}" [nzXXl]="{offset:10, span:4}" nzOffset="9" nzSpan="6">

    <div nz-row>
      <div class="panda" nz-col nzOffset="7" nzSpan="10">
        <app-panda></app-panda>
      </div>
    </div>

    <div nz-row class="sign-in-form">
      <div nz-col nzOffset="4" nzSpan="16" align="center">
        <p class="sign-in-title" >Sign In to BioHub</p>
      </div>

      <form  nz-form nzLayout="vertical" [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item >
          <nz-form-control  nzOffset="1" nzSpan="22" nzHasFeedback>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input type="text" nzSize="small" nz-input formControlName="userName" placeholder="Username or e-mail">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors || validateForm.get('userName').pending ">
              <ng-container *ngIf="validateForm.get('userName').hasError('required')">
                Please enter your username or e-mail!
              </ng-container>
              <ng-container *ngIf="validateForm.get('userName').hasError('minlength')">
                too short (minimum is 4 characters)!
              </ng-container>
              <ng-container *ngIf="validateForm.get('userName').hasError('maxlength')">
                too long (maximum is 20 characters)!
              </ng-container>
              <ng-container *ngIf="validateForm.get('userName').hasError('forbiddenName')">
                Username is invalid!
              </ng-container>
              <ng-container *ngIf="validateForm.get('userName').hasError('forbiddenEmail')">
                Email is invalid!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzOffset="1" nzSpan="22">
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input type="password" nzSize="small" nz-input formControlName="password" placeholder="Password">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzOffset="1" nzSpan="22">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
            <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
            <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
            <div class="form-bottom">
              <span style="font-size: 13px">New to Hub?</span>
              <a href="" class="create-new-account">Create an account!</a>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>

  </div>
</div>
