<div class="search-body">
  <div nz-col nzSpan="15" class="search-box-content">
  <div  class="search-panda-box">
  <app-panda [shake]="shake"></app-panda>
    <nz-input-group nzSuffixIcon="anticon anticon-search" style="height:4vw;">
      <input type="text" nz-input nzSize="large" placeholder="Search content" class="search-input" (focus)="startShake()" (blur)="stopShake()">
    </nz-input-group>
  </div>
  <div class="search-tips">
    <div class="first-row">
    <button nz-button nzType="default" class="button-tips tips0">Users</button>
    </div>
    <div class="second-row">
    <button nz-button nzType="default" class="button-tips tips1">Bio-bricks</button>
    </div>
    <div class="third-row">
    <button nz-button nzType="default" class="button-tips tips2">Reports</button>
    </div>
    <div class="fourth-row">
    <button nz-button nzType="default" class="button-tips tips3">Protein</button>
    </div>
    <div class="fifth-row">
    <button nz-button nzType="default" class="button-tips tips4">Thesis</button>
    </div>
  </div>
  </div>
</div>

