<div class="stepBarMain">
  <div class="stepBarTop" nz-row>
    <!-- 头部 -->
      <p nz-col nzSpan="12">Step</p>
      <p nz-col nzSpan="12">Process</p>
  </div>

  <hr />

  <div class="stepBarList">
    <!-- 这里是 step 和 process 的列表部分 -->
    <nz-list [nzDataSource]="steps" [nzItemLayout]="'horizontal'" nzSize="small" [nzRenderItem]="item">
      <ng-template #item let-item>
        <nz-list-item>
          <img class="stepBarListIco" [src]="item.ico"/>
          <span class="stepBarListName">{{item.name}}</span>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>

</div>