
<div class="other-user" nz-row>
    <!-- avatar -->
    <div  class="down" nz-col nzOffset="1" nzSpan="3">
      <img  class="avatar" src={{otheruser.avatar_url}}>
    </div>

    <!-- information -->
    <div nz-col nzOffset="1" nzSpan="19">
      <div>
        <div nz-row>
          <div class="oname" nz-col nzSpan="11">
            <p>{{otheruser.name}}</p>
          </div>
          <div class="obtn" nz-col  nzSpan="6" >
            <button nz-button nzType="primary" >&nbsp;&nbsp;&nbsp;profile&nbsp;&nbsp;&nbsp;</button>
          </div>
          <div class="obtn" nz-col  nzSpan="6" >
            <button nz-button [nzType]="isFollowing?'default':'primary'" >&nbsp;&nbsp;&nbsp;{{btncontent}}&nbsp;&nbsp;&nbsp;</button>
          </div>
          <div nz-col  class="about-me" nzSpan="24">
            <p>{{otheruser.about_me}}</p>
          </div>
          <div class="oinfo" nz-col nzSpan="4">
            <p>{{otheruser.flingnum}}&nbsp;following</p>
          </div>
          <div class="oinfo" nz-col nzSpan="4">
            <p>{{otheruser.flednum}}&nbsp;followers</p>
          </div>
          <div class="oinfo" nz-col nzSpan="4">
            <p>{{otheruser.likenum}}&nbsp;likes</p>
          </div>
        </div>
      </div>

    </div>
</div>

