<nz-affix>
  <ul nz-row nzType="flex" nzJustify="start" nz-menu [nzMode]="'horizontal'" [nzTheme]="'dark'" [nzSelectable]="false">
    <div nz-col nzSpan="4"></div>
    <li nz-menu-item nz-col nzSpan="4" [routerLink]="['/index']" class="brand"><img src="../../../assets/img/panda/logo.png" height="16px" style="margin-top: -2px"></li>
    <li nz-menu-item nz-col nzSpan="2" [routerLink]="['/explore']">Explore</li>
    <li nz-menu-item *ngIf="user != null" nz-col nzSpan="3" [routerLink]="['/feeds']">Feeds</li>
    <li nz-menu-item *ngIf="user != null" nz-col nzSpan="2"></li>
    <div nz-col nzSpan="2" *ngIf="user != null">
      <li nz-menu-item nz-popover nzPlacement="bottom" nzTitle="Notification" [nzContent]="notification_content" class="icon-item"><i class="anticon anticon-bell"></i></li>
      <li nz-menu-item nz-popover nzPlacement="bottom" [nzContent]="user_content" [nzTitle]="user.name" class="icon-item"><i class="anticon anticon-smile-o"></i></li>
    </div>
    <li nz-menu-item *ngIf="user == null" nz-col nzSpan="3"></li>
    <li nz-menu-item *ngIf="user == null" nz-col nzSpan="2" [routerLink]="['/authentation/signin']">Sign In</li>
    <li nz-menu-item *ngIf="user == null" nz-col nzSpan="2">Register</li>
    <li nz-menu-item class="menu-item-reverse" nz-col nzSpan="2" [routerLink]="['/editor']"><span>Editor</span></li>
    <input nz-input placeholder="Search" [(ngModel)]="toSearch" nzSize="'small'" class="navbar-input">
    <li nz-menu-item (click)="toggle_search()" nz-col nzSpan="2"><i class="anticon anticon-search"></i></li>
    <div nz-col nzSpan="4"></div>
    <ng-template #user_content>
      <div>
        <p style="cursor: pointer;" [routerLink]="['/profile']">Profile</p>
        <p style="cursor: pointer;" [routerLink]="['/logout']">Logout</p>
      </div>
    </ng-template>
    <ng-template #notification_content>
      <div>
        <p> Someone like your report </p>
      </div>
    </ng-template>
    <ng-template #message_content>
      <div>
        <p>Someone send you a message</p>
      </div>
    </ng-template>
  </ul>
</nz-affix>
