<ul nz-row nzType="flex" nzJustify="start" nz-menu [nzMode]="'horizontal'" [nzTheme]="'dark'" [nzSelectable]="False">
    <div nz-col nzSpan="4"></div>
    <li nz-menu-item nz-col nzSpan="2"> BioHub</li>
    <li nz-menu-item nz-col nzSpan="2">Explore</li>
    <li nz-menu-item *ngIf="user != null" nz-col nzSpan="3">Feeds</li>
    <li nz-menu-item *ngIf="user != null" nz-col nzSpan="2"></li>
    <div nz-col nzSpan="3" *ngIf="user != null">
        <li nz-menu-item class="icon-item"><i class="anticon anticon-bell"></i></li>
        <li nz-menu-item class="icon-item"><i class="anticon anticon-mail"></i></li>
        <li nz-menu-item class="icon-item"><i class="anticon anticon-smile-o"></i></li>
    </div>
    <li nz-menu-item *ngIf="user == null" nz-col nzSpan="3"></li>
    <li nz-menu-item *ngIf="user == null" nz-col nzSpan="2">Sign In</li>
    <li nz-menu-item *ngIf="user == null" nz-col nzSpan="3">Register</li>
    <li nz-menu-item class="menu-item-reverse" nz-col nzSpan="2"><span>Editor</span></li>
    <input nz-input placeholder="Search" [(ngModel)]="toSearch" nzSize="'small'" class="navbar-input">
    <li nz-menu-item (click)="toggleSearch()" nz-col nzSpan="2"><i class="anticon anticon-search"></i></li>
    <div nz-col nzSpan="4"></div>
</ul>