<nz-list [nzDataSource]="steps" nzBordered nzSize="small"[nzRenderItem]="item1">
    <ng-template #item1 let-item>
        <nz-list-item>
            <nz-list-item-meta
                [nzTitle]="StepList">
                <ng-template #StepList>
                    <div (click)="addSteps(item.id)">
                        <h4>{{item.name}}</h4>
                        <p>{{item.desc}}</p>
                    </div>
                </ng-template>
            </nz-list-item-meta>
        </nz-list-item>
    </ng-template>
  </nz-list>

  <hr />

  <nz-list [nzDataSource]="subs" nzBordered nzSize="small"[nzRenderItem]="item2">
        <ng-template #item2 let-item>
            <nz-list-item>
                <nz-list-item-meta
                    [nzTitle]="SubList">
                    <ng-template #SubList>
                        <div (click)="addSubs(item.id)">
                            <h4>{{item.name}}</h4>
                            <p>{{item.desc}}</p>
                        </div>
                    </ng-template>
                </nz-list-item-meta>
            </nz-list-item>
        </ng-template>
      </nz-list>
