<div class="d-bk" nz-row >
  <div nz-col nzSm="24" nzXs="24" [nzMd]="{span:22,offset:1}" [nzLg]="{span:20, offset:2}"
       [nzXl]="{span:18, offset:3}" [nzXXl]="{span:18, offset:3}" style="background-color: #ffffff">
     <div nz-row nzGutter="10">
       <div nz-col nzSpan="7" >
         <app-siminfo [user]="simuser" ></app-siminfo>
         <nz-divider></nz-divider>
         <app-classification [userid]="simuser.id"></app-classification>
       </div>
       <div nz-col nzSpan="17" >
         <router-outlet></router-outlet>
       </div>
     </div>
  </div>
</div>
