*{
  font-family: Helvetica;
}
.report-info-container{
  height:175px;
  background-color: #FFFFFF;//#EAEDF2;//#EAEEF6;
}
.report-info{
}
.report-title{
  font-size:20px;
  font-weight: 500;
  margin:0px;
  text-decoration: underline;
  position: relative;
  top:3px;
}
.report-abstract{
  color: rgba(0,0,0,.45);
}
.report-abstract-container{
  height:130px;
  padding:5px 0px 5px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* 控制显示的行数 */
  ::-webkit-scrollbar {
    width:0px;
  }
}
