<div id="FixedButton" (click)="clickButton()">
    <img src="/assets/img/editor/icons/lucky.png">
</div>

<div id="LuckyButton_1" [@change]="flag">
        <img src="/assets/img/editor/icons/top.png">
</div>

<div id="LuckyButton_2" [@change]="flag">
    <img src="/assets/img/editor/icons/quote.png">
</div>

<div id="LuckyButton_3" [@change]="flag">
    <img src="/assets/img/editor/icons/table.png">
</div>

<div id="LuckyButton_4" [@change]="flag" (click)="append.reportAddPict()">
    <img src="/assets/img/editor/icons/img.png">
</div>

<div id="LuckyButton_5" [@change]="flag" (click)="append.reportAddText()">
    <img src="/assets/img/editor/icons/text.png">
</div>

<div id="LuckyButton_6" [@change]="flag">
    <img src="/assets/img/editor/icons/rslt.png">
</div>

<div id="LuckyButton_7" [@change]="flag">
    <img src="/assets/img/editor/icons/info.png">
</div>