<div>
  <h4>{{step.name}}</h4>
  <div nz-row>
    <ng-container *ngFor="let fld of step.fields">
      <ng-container [ngSwitch]="fld.attr[0]">
        <div *ngSwitchCase="'@big'" nz-col nzSpan="24">
          <app-editor-field-type [fld]="fld"></app-editor-field-type>
        </div>
        <div *ngSwitchCase="'@mid'" nz-col nzSpan="16">
          <app-editor-field-type [fld]="fld"></app-editor-field-type>
        </div>
        <div *ngSwitchCase="'@small'" nz-col nzSpan="8">
          <app-editor-field-type [fld]="fld"></app-editor-field-type>
        </div>
        <div *ngSwitchDefault nz-col nzSpan="8">
          <app-editor-field-type [fld]="fld"></app-editor-field-type>
        </div>
      </ng-container>
    </ng-container>
  </div> 
</div>