<div class="s-bk">
  <div nz-row class="down">
    <div nz-col nzOffset="7" nzSpan="10" class="avatar0">
      <img class="avatar" src="{{user.avatar_url}}">
    </div>
    <div nz-col nzSpan="7"></div>
    <div class="username" nz-col nzSpan="24" align="center">
      <span>{{user.name}}</span>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="space-around" class="down">
    <div class="sim-info" nz-col nzSpan="6" >
      <p class="sim-info-num">{{user.followingnum}}</p>
      <p class="sim-info-name">following</p>
    </div>
    <div class="sim-info" nz-col nzSpan="6" >
      <p class="sim-info-num">{{user.followednum}}</p>
      <p class="sim-info-name">followers</p>
    </div>
    <div class="sim-info" nz-col nzSpan="6" >
      <p class="sim-info-num">{{user.likenum}}</p>
      <p class="sim-info-name">likes</p>
    </div>
    <div class="sim-info" nz-col nzSpan="6" >
      <p class="sim-info-num">{{user.reportsnum}}</p>
      <p class="sim-info-name">reports</p>
    </div>
  </div>
</div>

