
<div class="s-bk">
  <!-- navbar -->
  <div>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item (click)="chshow('Following')">Following</li>
      <li nz-menu-item (click)="chshow('Followers')">Followers</li>
      <li nz-menu-item (click)="chshow('Likes')">Likes</li>
      <li nz-menu-item (click)="chshow('Reports')">Reports</li>
    </ul>
  </div>

  <div *ngIf="router[0]">
    <div  *ngFor="let otheruser of user.following.content">
      <app-eachinfo1 [otheruser]="otheruser" [isFollowing]="ifFollowing(otheruser)" ></app-eachinfo1>
    </div>
  </div>

  <div *ngIf="router[1]">
    <div  *ngFor="let otheruser of user.followers.content">
      <app-eachinfo1 [otheruser]="otheruser" [isFollowing]="ifFollowing(otheruser)"></app-eachinfo1>
    </div>
  </div>

  <div *ngIf="router[2]">
    <div  *ngFor="let like of user.likes.content">
      <app-likeinfo [like]="like"></app-likeinfo>
    </div>
  </div>

  <div *ngIf="router[3]">
    <div  *ngFor="let report of user.reports.content">
      <app-eachinfo2 [report]="report"></app-eachinfo2>
    </div>
  </div>
</div>
