<div class="clearfix">
    <nz-upload
      nzAction="https://api.biohub.tech/api/editor/graph/"
      nzListType="picture-card"
      [(nzFileList)]="ret.pic"
      [nzShowButton]="ret.pic.length < 5"
      [nzPreview]="handlePreview">
        <i class="anticon anticon-plus"></i>
        <div class="ant-upload-text">Upload</div>
    </nz-upload>
    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
      </ng-template>
    </nz-modal>
</div>