<div nz-row>
  <div nz-col nzSpan="2" nzOffset="1">
    <span>Title:</span>
  </div>
  <div nz-col nzSpan="9">
      <input [(ngModel)]="editor.report.title" name="" class="panelInfoInput" />
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="2" nzOffset="1">
      <span>Title:</span>
    </div>
    <div nz-col nzSpan="9">
      <nz-select nzMode="tags"  class="panelInfoInput" nzPlaceHolder="Label input" [(ngModel)]="editor.report.label">
      </nz-select>
    </div>
</div>

<div nz-row>
  <div nz-col nzSpan="2" nzOffset="1">
      <span>Title:</span>
    </div>
    <div nz-col nzSpan="9">
        <input [(ngModel)]="editor.report.title" name="" class="panelInfoInput" />
  </div>
</div>
