<div class="body">
<div nz-row>
<app-user-info-profile [userinfoprofile]="userinfo"></app-user-info-profile>
</div>
<div nz-row>
<app-user-info [user]="userinfo2"></app-user-info>
</div>
</div>
<!--
<div nz-row>
  <div nz-col nzSpan="16" nzOffset="4">
    <div align="center">
      <div>
        <nz-avatar class="photo" nzIcon="anticon anticon-user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" >
        </nz-avatar>
      </div>
      <div class="name">FrankSalazar</div>
      <span><i class="anticon anticon-environment-o" style="color:#3C7BBB"></i>other information:xxx</span>
      <div>
        <button nz-button nzType="primary" class="rectangle3">follow</button>
      </div>
    </div>
    <hr>
    <div class="workinfo">
      <p>316 <span>appreciation</span></p>
      <p>68  <span>following</span></p>
      <p>49  <span>followers</span></p>
      <p>9   <span>reports</span></p>
    </div>
    <hr>
    <div class="about">
      <label>ABOUT ME</label>
    </div>
    <hr>
    <div>
      <label>WORK EXPIERENCE</label>
    </div>
  </div>
</div>
-->
