/* You can add global styles to this file, and also import other style files */

@import "assets/css/bootstrap.min.css";
.navbar-biohub {
    padding-left: 16% !important;
    padding-right: 16% !important;
    background-color: #333333;
    box-shadow: 0 1px 25px -1px rgba(0,0,0,0.5);

    .nav-link {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: Helvetica;
        color: #FFFFFF !important;
        margin: 0 1.5rem;
    }
    .nav-item {
        transition: left 0.5s;
        -webkit-transition: left 0.5s;
        -o-transition: left 0.5s;
        -moz-transition: left 0.5s;
    }

    .navbar-addon {
        .nav-link {
        }
        .nav-reverse {
            background-color: #FFFFFF;
            color: #000000 !important;
            border-radius: 8px;
            line-height: 1;
            padding: 5px 8px;
            margin-top: 8px;
        }
        .form-control {
            outline: none;
            background-color: #000;
            color: #FFF;
            border-radius: 5px;
            border: 1px solid transparent;
            &:focus, &:active {
                border:1px solid #666;
                outline: none;
                box-shadow: none;
            }
        }
    }

    .navbar-brand {
        color: #FFFFFF !important;
        margin-right: 3.5rem;
        font-size: 1.5rem;
    }
}