<div nz-row >
  <div nz-col nzXS="24" [nzSm]="{span:22,offset:1}" [nzMd]="{span:22,offset:1}" [nzLg]="{span:20, offset:2}"
       [nzXl]="{span:18, offset:3}" [nzXXl]="{span:16, offset:4}">
    <div nz-row>
      <div nz-col nzOffset="2" nzSpan="20">
        <form nz-form nzLayout="vertical" [formGroup]="searchForm"
                (ngSubmit)="submitForm()" class="search-input" class="search-input">
          <nz-form-item >
          <nz-form-control nzSpan="24">
            <nz-input-group>
                <input (keyup.enter)="submitForm()" nz-input class="search-content" type="text" (ngModelChange)="onChange($event)"
                       formControlName="search_info" placeholder="Type here..." autofocus="autofocus" [nzAutocomplete]="auto"
                       nz-popover nzPlacement="bottom" [(nzVisible)]="visible"
                       nzTitle="Search Tips" [nzContent]="searchTips">
                <ng-template #searchTips>
                    <p>You can type:</p>
                    <p>GFP</p>
                    <p>BBa_R0001</p>
                    <p>AGGAAGAGGAGCTCCT...(more than 10bp)</p>
                    <p>users <b style="color:gold">from USTC</b></p>
                    <p>bricks <b style="color:purple"> by iGEM</b></p>
                    <p>reports <b style="color:grey"> #Molecular</b></p>
                    <p>reports <b style="color:purple"> by Jiyan</b> <b style="color:blue"> today</b> </p>
                    <p>reports <b style="color:blue">from 2018-10-10 to 2018-10-25</b>  <b style="color:purple"> by Jiyan</b></p>
                </ng-template>
                <nz-autocomplete #auto>
                  <nz-auto-option *ngFor="let option of options" [nzValue]="option">{{option}}</nz-auto-option>
                </nz-autocomplete>
            </nz-input-group>
          </nz-form-control>
          </nz-form-item>
        </form>
        <div class="input-tags">
          <span class="tag-label">filters:&nbsp;&nbsp;&nbsp;</span>
            <nz-tag [nzColor]="filtertype2color[filter.type]" *ngFor="let filter of filters">
              {{filtertype[filter.type] + ' ' + filterrel2verb[filter.rel] + ' ' + filter.value}}
            </nz-tag>
        </div>
      </div>

      <div nz-col nzSpan="24">
        <nz-tabset nz-row style="text-align: center;">
          <nz-tab nz-col nzSpan="4" [nzTitle]="AllTemplate">
            <ng-template #AllTemplate>
                <a>All</a>
            </ng-template>
            <app-dynamic-sort *ngIf="order_keys.length > 0" [titles]="order_keys" [ResultsTempates]="order_templates" [visible]="order_visible">
            </app-dynamic-sort>
            <ng-template #usersTemplate>
              <app-followuser *ngFor="let user of arrays.user" [otheruser]="user" [bkcolor]="'#FFFFFF'" ></app-followuser>
            </ng-template>
            <ng-template #reportsTemplate>
              <app-others-report *ngFor="let report of arrays.report" [report]="report"  [bkcolor]="'#FFFFFF'"></app-others-report>
            </ng-template>
            <ng-template #dbsTemplate>
              <div class="db-item">
                <div *ngFor="let db of arrays.db">
                  <app-dbsearchresult *ngIf="db.count > 0" [db]="db"></app-dbsearchresult>
                </div>
              </div>
            </ng-template>
            <ng-template #blastTemplate>
              <div nz-row class="blast">
                <div nz-col nzSpan="8">
                  <nz-card class="blast-long" [nzHoverable]="true">
                    <a (click)="goTotblastn()"><p class="blast-title">Nucleotide BLAST</p>
                      <p class="blast-info">nucleotide to nucleotide</p></a>
                  </nz-card>
                </div>
                <div nz-col nzSpan="8">
                  <a (click)="goToblastx()"><nz-card class="blast-short" [nzHoverable]="true">
                    <p class="blast-title">blasx</p>
                    <p class="blast-info">translated nucleotide to protein</p>
                  </nz-card></a>
                  <a (click)="goTotblastn()"><nz-card class="blast-short" [nzHoverable]="true">
                    <p class="blast-title">tblastn</p>
                    <p class="blast-info">protein to translated nucleotide</p>
                  </nz-card></a>
                </div>
                <div nz-col nzSpan="8">
                  <a (click)="goTotblastp()"><nz-card class="blast-long" [nzHoverable]="true">
                    <p class="blast-title">Protein BLAST</p>
                    <p class="blast-info">protein to protein</p>
                  </nz-card></a>
                </div>
                <p class="ncbi-desc">powered by NCBI</p>
              </div>
            </ng-template>
            <ng-template #bricksTemplate>
              <div *ngFor="let brick of arrays.brick" class="content">
                <app-bricks [biobrick]="brick"></app-bricks>
              </div>
            </ng-template>
          </nz-tab>

          <nz-tab nz-col nzSpan="4" [nzTitle]="ReportsTemplate">
            <ng-template #ReportsTemplate>
              <a>Reports</a>
            </ng-template>
            <div *ngFor="let report of arrays.report" class="content">
              <app-others-report [report]="report"  [bkcolor]="'#FFFFFF'"></app-others-report>
            </div>
          </nz-tab>

          <nz-tab nz-col nzSpan="4" [nzTitle]="UsersTemplate">
            <ng-template #UsersTemplate>
                <a>Users</a>
            </ng-template>
            <div>
              <app-followuser *ngFor="let user of arrays.user" [otheruser]="user" [bkcolor]="'#FFFFFF'" ></app-followuser>
            </div>
          </nz-tab>

          <nz-tab nz-col nzSpan="4" [nzTitle]="DatabaseTemplate">
            <ng-template #DatabaseTemplate>
                <a>Database</a>
            </ng-template>
            <div class="db-item">
              <div *ngFor="let db of arrays.db">
                <app-dbsearchresult *ngIf="db.count > 0" [db]="db"></app-dbsearchresult>
              </div>
            </div>
          </nz-tab>

          <nz-tab nz-col nzSpan="4" [nzTitle]="BiobrickTemplate" >
            <ng-template #BiobrickTemplate>
              <a>Biobricks</a>
            </ng-template>
            <div *ngFor="let brick of arrays.brick" class="content">
              <app-bricks [biobrick]="brick"></app-bricks>
            </div>
          </nz-tab>

          <nz-tab nz-col nzSpan="4" [nzTitle]="BlastTemplate">
            <ng-template #BlastTemplate>
                <a>BLAST</a>
            </ng-template>
            <div nz-row class="blust">
              <div nz-col nzSpan="8">
                <a (click)="goToblastn()"><nz-card class="blast-long" [nzHoverable]="true">
                  <p class="blast-title">Nucleotide BLAST</p>
                  <p class="blast-info">nucleotide to nucleotide</p>
                </nz-card></a>
              </div>
              <div nz-col nzSpan="8">
                <a (click)="goToblastx()"><nz-card class="blast-short" [nzHoverable]="true">
                    <p class="blast-title">blasx</p>
                    <p class="blast-info">translated nucleotide to protein</p>
                  </nz-card></a>
                <a (click)="goTotblastn()"><nz-card class="blast-short" [nzHoverable]="true">
                    <p class="blast-title">tblastn</p>
                    <p class="blast-info">protein to translated nucleotide</p>
                  </nz-card></a>
              </div>
              <div nz-col nzSpan="8">
                <a (click)="goTotblastp()"><nz-card class="blast-long" [nzHoverable]="true">
                  <p class="blast-title">Protein BLAST</p>
                  <p class="blast-info">protein to protein</p>
                </nz-card></a>
              </div>
              <p class="ncbi-desc">powered by NCBI</p>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
   </div>
  </div>
</div>
<!-- blast form -->
<div class="hidden-blast">
  <form [action]="'https://blast.ncbi.nlm.nih.gov/Blast.cgi'" method="POST" [formGroup] target="_blank">
    <input type="text" name="db" value="nucleotide" />
    <input type="text" name="GENETIC_CODE" value="1" />
    <input type="text" name="stype" value="nucleotide" />
    <input type="text" name="DBTYPE" value="gc" />
    <input type="text" name="DATABASE" value="nr" />
    <input type="text" name="NUM_ORG" value="1" />
    <input type="text" name="BLAST_PROGRAMS" value="megaBlast" />
    <input type="text" name="MAX_NUM_SEQ" value="100" />
    <input type="text" name="SHORT_QUERY_ADJUST" value="on" />
    <input type="text" name="EXPECT" value="10" />
    <input type="text" name="WORD_SIZE" value="28" />
    <input type="text" name="HSP_RANGE_MAX" value="0" />
    <input type="text" name="MATRIX_NAME" value="PAM30" />
    <input type="text" name="MATCH_SCORES" value="1,-2" />
    <input type="text" name="GAPCOSTS" value="0 0" />
    <input type="text" name="COMPOSITION_BASED_STATISTICS" value="0" />
    <input type="text" name="FILTER" value="L" />
    <input type="text" name="REPEATS" value="45518" />
    <input type="text" name="FILTER" value="m" />
    <input type="text" name="TEMPLATE_LENGTH" value="0" />
    <input type="text" name="TEMPLATE_TYPE" value="0" />
    <input type="text" name="SHOW_OVERVIEW" value="true" />
    <input type="text" name="SHOW_LINKOUT" value="true" />
    <input type="text" name="GET_SEQUENCE" value="true" />
    <input type="text" name="FORMAT_OBJECT" value="Alignment" />
    <input type="text" name="FORMAT_TYPE" value="HTML" />
    <input type="text" name="ALIGNMENT_VIEW" value="Pairwise" />
    <input type="text" name="MASK_CHAR" value="2" />
    <input type="text" name="MASK_COLOR" value="1" />
    <input type="text" name="DESCRIPTIONS" value="100" />
    <input type="text" name="ALIGNMENTS" value="100" />
    <input type="text" name="LINE_LENGTH" value="60" />
    <input type="text" name="NEW_VIEW" value="false" />
    <input type="text" name="OLD_VIEW" value="false" />
    <input type="text" name="NCBI_GI" value="false" />
    <input type="text" name="SHOW_CDS_FEATURE" value="false" />
    <input type="text" name="NUM_OVERVIEW" value="100" />
    <input type="text" name="FORMAT_NUM_ORG" value="1" />
    <input type="text" name="CONFIG_DESCR" value="2,3,4,5,6,7,8" />
    <input type="text" name="CLIENT" value="web" />
    <input type="text" name="SERVICE" value="plain" />
    <input type="text" name="CMD" value="request" />
    <input type="text" name="PAGE" value="MegaBlast" />
    <input type="text" name="MEGABLAST" value="on" />
    <input type="text" name="DEFAULT_PROG" value="megaBlast" />
    <input type="text" name="SELECTED_PROG_TYPE" value="megaBlast" />
    <input type="text" name="SAVED_SEARCH" value="true" />
    <input type="text" name="NUM_DIFFS" value="0" />
    <input type="text" name="NUM_OPTS_DIFFS" value="0" />
    <input type="text" name="UNIQ_DEFAULTS_NAME" value="A_SearchDefaults_1gF9ao_607_deHb36VEEib_GTXQl_sVrwi" />
    <input type="text" name="PAGE_TYPE" value="BlastSearch" />
    <input type="text" name="USER_DEFAULT_PROG_TYPE" value="megaBlast" />
    <input type="text" name="USER_DEFAULT_MATCH_SCORES" value="0" />
    <input type="text" name="QUERY" value="AGGAAGAGGAGCTCCTTTCGATCCAATTCAGGAGAGGAAGTGGTAGGATGCAGCTGCCGATTCATGGATACCTCTGGAGTGCATGGCAGCAATGCTGTAGGCCTGCACTTGCATGGGTTTGCATGACCCGGGAGATGAACCCACCATTGTCTTCCTCTATTGATTGGATTGAAGGGAGCTCCACATCTCT" />
    <input type="text" name="PROGRAM" value="blastn" /> <!--blastn blastx tblastn blastp-->
    <input #submitBlast type="submit" value="Submit" />
  </form>
</div>
