.search-input{
  background-color: #FBFBFB;
  margin:100px 0px 40px 0px;
}
.search-content{
  background-color:#FFFFFF ;
  padding-top: 4px;
}
.ant-input{
  height: 38px;
  border-radius: 10%;
}
ul{
  text-align: center;
}
li{
  padding:10px;
}
span{
  font-family: AvenirNext-Medium;
  font-size: 24px;
  color: #000000;
}
nz-dropdown a{
  font-family: AvenirNext-Medium;
  font-size: 16px;
  color: #000000;
}


