<div class="editAreaMenu" nz-row>
  <!-- 进度条 -->
  <div nz-col nzSm="8" nzMd="12" nzLg="12" nzXl="16" class="VertAlign">  <p>这里是 进度条</p> 
  </div>

  <!-- Save 按钮 -->
  <div nz-col nzSm="4" nzMd="3" nzLg="3" nzXl="2" class="VertAlign">
    <div id="editAreaMenuButton_1"><span>Save</span></div>
  </div>

  <!-- Preview 按钮 -->
  <div nz-col nzSm="4" nzMd="3" nzLg="3" nzXl="2" class="VertAlign">
      <div id="editAreaMenuButton_2"><span>Preview</span></div>
  </div>

  <!-- Export 按钮 -->
  <div nz-col nzSm="4" nzMd="3" nzLg="3" nzXl="2" class="VertAlign">
      <div id="editAreaMenuButton_3"><span>Export</span></div>
  </div>

  <!-- Submit 按钮 -->
  <div nz-col nzSm="4" nzMd="3" nzLg="3" nzXl="2" class="VertAlign">
      <div id="editAreaMenuButton_4"><span>Submit</span></div>
  </div>

</div>

<div class="coreArea" (window:resize)="onResize()" [ngStyle]="{'height': editorHeight}">
    <!-- 各个文章 subroutines -->
    <div *ngFor="let sub of currentReport.subroutines">
        <app-subroutine [sub]="sub"></app-subroutine>
    </div>
</div>