<nz-list [nzDataSource]="steps" nzBordered nzSize="small"[nzRenderItem]="item">
    <ng-template #item let-item>
        <nz-list-item>
            <nz-list-item-meta
                [nzTitle]="nzTitle">
                <ng-template #nzTitle>
                    <div (click)="addSteps(item.id)">
                        <h4>{{item.name}}</h4>
                        <p>{{item.desc}}</p>
                    </div>
                </ng-template>
            </nz-list-item-meta>
        </nz-list-item>
    </ng-template>
  </nz-list>
